/*Includes*/

/* Login begin */
*{
    font-family: Arial,'sans-serif';
}
.all-screen{
    background: linear-gradient(to top right, #36c3ff, #6082a8);
    width: 100%;
    height: 100%;
    position: absolute;
}

#title-login{
    background-color: #ffffff;
    border-radius: 3px;
    margin: auto;
    margin-top: 80px;

}

#icon-login{
    position: absolute;
    left: 0;
    margin-left: 3px;
    top: 7px;
    font-size: 20px;

}

#form{
    background-color: #ffffff;
    border-radius: 3px;
    margin: auto;
    margin-top: 10px;
}

.btn-submit{
    width: 100%;
}
.btn-submit:hover{
   opacity: 0.9;

}
/* Login end */
.bg-top{
    background-color: #2c2c2c;
    height: 70px;
    max-width: 100% !important;

    padding: 0 !important;
    margin: 0 !important;
}

#admin-config{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    float: right;
}

#admin-config:hover{
    cursor: pointer;
}


.drag-menu {
    list-style: none;
    display: inline-block;
    margin-left: 35px;
    margin-top: 10px;
}

.drag-menu li {
    list-style: none;
    display: inline-block;
}
.drag-menu li #chevron_left{
    color: white;
    font-size: 30px;
    margin-top: 10px;

}

.drag-menu li #chevron_right{
    color: white;
    font-size: 30px;
    margin-top: 10px;
}


.drag-menu li #chevron_left:hover{
    cursor: pointer;
    opacity: 0.8;
}

.drag-menu li #chevron_right:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media (min-width: 266px) and (max-width: 500px){
    .drag-menu {
        display: none;
    }
}

#menu{
    background-color: #F6F6F6;
    max-width: 240px !important;
    height: 766px;
    position: absolute;
    left: 0;
    overflow: hidden;

}

#search{
    position: absolute;
    top: 20px;
    width: 140px;
    left: 25%;
    background-color: #2D2D2D;
    color: white;
    outline: none;
    border-radius: 15px;
    border: solid 1px white;
    opacity: 0.7;

}

#search:focus{
    color: #d7d7e5;
    outline: none;
    border: solid 1px white;
    opacity: 1.0;
}

#home{
    font-size: 50px;
    color: white;
    position: absolute;
    left: 5px;
    top: 10px;
}

#home:hover{
    cursor: pointer;
}

@media (max-width: 500px) and (min-width: 266px ) {
    #home{
        font-size: 40px !important;
        top: 15px;
    }
}

.bg-config{
    background-color: #393939;
    height: 200px;
    width: 250px;
    position: absolute;
    right: 0;
    margin-right: 14px;
    margin-top: 15px;
    z-index: 100;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;

}

.Shapes-top{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #393939;
    position: absolute;
    right: 0;
    top: -40px;


}

@media  (max-width: 500px) AND (min-width: 266px) {
    .bg-config{
        top: 75px;
    }


}

/* menu */

.menu-left{
    width: 15%;
    background-color: #2c3e50;
    height: 766px;

}

.menu-left .list-menu{
    position: absolute;
    left: 0;
    padding: 0;


}

.list-menu{
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 15%;

}

.list-menu:hover{      /* HOVER MENU LEFT*/
    cursor: pointer;
}

.list-menu li:hover{
    cursor: pointer;
}

.list-menu li a:hover{
    cursor: pointer;
}

.list-menu li a button:hover{
    cursor: pointer;
}

@media (min-width: 266px) AND (max-width: 900px){
    .list-menu{
        width: 100% !important;

    }
    .letters-all-menu{
        visibility: visible !important;
        font-size: 14px;
    }
    .menu-left{

        background-color: white;
        height: 0; /* (menu-left) fundo do menu que esta a x px é zerado*/
    }

    .div-dashboard-list{

    }

    .list-menu li div{
        display: block !important;
        overflow: hidden;
        height: 0.1px;
        transition: 2s;

    }


    .dashboard-list2{
        padding: 0 !important;
    }

    .div-dashboard-list .dashboard-list2 li{
       width: 100%;

    }
    .div-dashboard-list li{
       list-style: none;
    }


    .btn-menu-dashboard2{
        opacity: 0.8;
        background-color: #EE4B3E;
        height: 48px;
        width: 100% !important;
        color: white;
        border: none;
        z-index: 100;
    }

    .btn-menu-dashboard2:hover{

        opacity: 0.9;
        background-color: #EE4B3E;
    }

    .dashboard-list > li{
        display: none!important;
    }
}


.menu-icon{
    position: absolute;
    left: 0;
    margin-left: 10px;
    font-size: 30px !important;
    color: white;
    margin-top: -4px;
}

/* Dev naelson.g.saraiva@gmail.com*/

.list-menu li a{
    text-decoration: none;

}


.btn-menu{
    background-color: #2c3e50;
    height: 48px;
    width: 100% !important;
    color: white;
    border: none;

}

.btn-menu:focus{
    outline: none;
}

.btn-menu:active{
    opacity: 0.7;
}

.btn-menu:hover{
    background-color: #34495e;
}


.li-menu-modified1{
    background-color: #456277 !important;
    width: 100% !important;
    height: 1px !important;
}

.li-menu-modified2{
    background-color: #223445 !important;
    width: 100% !important;
    height: 1px !important;
}

/* DASHBOARD LIST */
.div-dashboard-list{
    display: none !important;
}

/* */
.list-menu li .dashboard-list{
    display: none;
    position: absolute;
    left: 0;
    width: 250px;
    top: 0;

}

.list-menu li:hover .dashboard-list{
    position: absolute;
    left: 79%;
    width: 250px;
    top: 0;
    display: inline !important;
}

.list-menu li .dashboard-list li{
    list-style: none;

}

.list-menu li .dashboard-list li a{
    text-decoration: none;
    list-style: none;

}

.list-menu li .dashboard-list li a{
    text-decoration: none;

}

.btn-menu-dashboard{
    background-color: #2c3e50;
    height: 48px;
    width: 100% !important;
    color: white;
    border: none;
}

.btn-menu-dashboard:hover{
    background-color: #34495e;
}

.menu-icon-dashboard{
    position: absolute;
    left: 0;
    margin-left: 50px;
    font-size: 30px !important;
    color: white;
    margin-top: -4px;

}

/*
Corrigindo bug de quando voce envia o menu para ficar menor
usando a seta, o div do hover menu dashboard fica para tras e não acompanha o
menu encolher.
 */
.dashboard-list-javascript{
    display: none       !important;
    position: absolute  !important;
    left: 0             !important;
    width: 250px        !important;
    top: 0              !important;


}

.list-menu li:hover .dashboard-list-javascript{
    position: absolute;
    left: 28%           !important;
    width: 250px;
    top: 0;
    display: inline     !important;
    list-style: none    !important;
}


